<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HQWX</title>
  <style>
    .container {
      font-size: 30px;
      color: red;
    }
  </style>
</head>
<body>
<div class="cms_container" :style="cmsContainerStyles">
  <div class="cms_wrapper">
    <div class="cms_header_container">
      <p class="cms_header_text">{{pageData.title}}</p>
      <p class="cms_header_en_text">{{pageData.enTitle}}</p>
    </div>
    <div class="cms_query_content">
      <div class="cms_query_header">
        <p class="cms_query_header_text">{{pageData.queryTitle}}</p>
      </div>
      <div class="form_inner">
        <div class="form_wrapper register_login_form">
          <Form :model="formData" :rules="formRules" ref="formRef">
            <FormItem v-for="(fi, index) in pageData.formItems" :key="index" :label="fi.label" :label-width="120">
              <Select v-if="fi.type.toLowerCase() === 'select'" size="large" v-model="fi.defaultValue" :placeholder="fi.placeholder">
                <Option v-for="(o, idx) in fi.data" :key="idx" :value="o.value">{{o.text}}</Option>
              </Select>
              <Input v-if="fi.type.toLowerCase() === 'input'" v-model="fi.defaultValue" :placeholder="fi.placeholder"/>
            </FormItem>
            <FormItem label="手机号" prop="phonenum" :label-width="120">
              <Input v-model="formData.phonenum" placeholder="请输入您的手机号" class="custom_input" style="height: 40px;" @keyup.13="submit"/>
            </FormItem>
            <FormItem label="密码" prop="password" :label-width="120">
              <Input type="password" v-model="formData.password" placeholder="请输入4-8位(数字,字母,下划线)" @keyup.13="submit"/>
            </FormItem>
            <FormItem label="图形验证码" prop="code" :label-width="120">
              <Input v-model="formData.code" placeholder="图形验证码" style="width: calc(100% - 145px);" @keyup.13="submit"/>
              <div class="code_img_wrapper" @click="getCode">
                <Tooltip content="点击获取图形验证码" placement="right" class="code_tooltip" :transfer="true">
                  <img class="code_img" :src="code.verifyCodeStr">
                </Tooltip>
              </div>
            </FormItem>
            <FormItem label="短信验证码" prop="smsCode" :label-width="120">
              <Input v-model="formData.smsCode" placeholder="短信验证码" style="width: calc(100% - 145px);" @keyup.13="submit"/>
              <Button class="smscode_wrapper" type="primary" :disabled="!/^1[345789]\d{9}$/.test(formData.phonenum) || !!countdown.interval || !formData.code" @click="getSmsCode">{{(countdown.defaultTime === countdown.time) ? countdown.defaultText : countdown.time + '秒后重新获取'}}</Button>
            </FormItem>
            <FormItem>
              <Checkbox v-model="formData.accept" size="small"></Checkbox><span class="accept-text">我已阅读并同意《<span class="open_agreements" @click="openAgreements">网站注册协议</span>》</span>
            </FormItem>
            <FormItem>
              <Button type="primary" class="register_btn" :loading="isSubmitting" long :disabled="!formData.accept" @click="submit">{{pageData.btnText}}</Button>
            </FormItem>
            <FormItem>
              <p class="bottom_tip" v-if="pageData.tips.title">{{pageData.tips.title}}</p>
              <p class="bottom_tip" v-for="(tip, index) in pageData.tips.content" :key="index">
                <span class="tip_number">{{index + 1 + '、'}}</span>
                <span class="tip_content">{{tip.text}}</span>
              </p>
            </FormItem>
          </Form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="../js/jquery.1.12.4.js"></script>
</html>